<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2024-2025 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>
  <include name="../platforms/kalama.xml" />

  <project path="device/xiaomi/fuxi" name="aospa-pp-devices/android_device_xiaomi_fuxi" remote="aospa-pp" revision="vauxite" />
  <project path="device/xiaomi/fuxi-kernel" name="aospa-pp-devices/android_device_xiaomi_fuxi-kernel" remote="aospa-pp" revision="vauxite" clone-depth="1" />
  <project path="device/xiaomi/sepolicy" name="AOSPA/android_device_xiaomi_sepolicy" remote="aospa" revision="vauxite" />
  <project path="device/xiaomi/sm8550-common" name="aospa-pp-devices/android_device_xiaomi_sm8550-common" remote="aospa-pp" revision="vauxite" />
  <project path="hardware/xiaomi" name="aospa-pp-devices/android_hardware_xiaomi" remote="aospa-pp" revision="vauxite" />
  <project path="vendor/xiaomi" name="aospa-pp-devices/proprietary_vendor_xiaomi" remote="aospa-pp" revision="vauxite" clone-depth="1" />
  <project path="vendor/xiaomi/camera" name="aospa-pp/proprietary_vendor_xiaomi_camera" remote="aospa-pp-gitlab" revision="vauxite-sm8550-leica" clone-depth="1" />
</manifest>